main{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}


section{
    background-color: rgba(107, 90, 78, 0.39);
    border: 5px solid rgba(0, 0, 0, 0.304);
    text-align: center;
    padding: 30px;
    /*
    Para criarmos um efeito de sombra, utilizamos a propriedade box-shadow. Nele temos os seguinte valores na seguinte ordem:
    Direção da sombra: inset ou outset (outset por padrão)
    Deslocamento horizontal da sombra
    Deslocamento vertical da sombra
    Espaçamento da sombra
    */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.493);
    /*
    Para arredondarmos a borda, utilizamos a propriedade border-radius. Assim como vimos em outras propriedades, ela possui border-top-left/right-radius e border-bottom-left/right-radius. Também podemos simplificá-la igual as outras.
    Obs.: Também podemos utilizar a porcentagem como métrica. Uma porcentagem de 50%, por exemplo, tranformaria a div em um círculo.
    */
    border-radius: 10px;
    margin-bottom: 60px;
}

#div_pag02{
    display: inline-block;
    border: 10px solid transparent;
    padding: 5px 15px;
    /*
    Podemos utilizar uma imagem para colocarmos como nossa borda. Para isso utilizamos algumas propriedades como: 
    border-image: Aqui contém a url com nossa imagem de borda.
    border-image-slice: Informa como nossa imagem será repartida ao longo da borda. Temos a parte de cima, direita, baixo e esquerda. Podemos simplificar em um valor único. A métrica se dá através de número de repartições.
    border-image-repeat: Define como a imagem será repetida ao longo da borda. Podemos ter valores como: repeat (Repete a imagem por toda a borda); stretch (A imagem é esticada para preencher toda a borda); round (As repartições são ajustadas para ocupar todo o espaço da borda); space (As repartições são divididas uniformemente entre toda a borda. Um espaço em brano entre elas pode ser gerado dependendo do número de repartições).
    */
    border-image: url(midia/bordas/borda.png);
    border-image-slice: 20;
    border-image-repeat: round;
}

article{
    background-color: rgba(107, 90, 78, 0.39);
    border: 5px solid rgba(0, 0, 0, 0.304);
    text-align: center;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.493);
    border-radius: 10px;
    margin-top: 20px;
    height: 700px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    margin: 20px 0px;
    color: rgb(41, 54, 41);
    text-align: center;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1.2em;
    /*line-height: Informa o espaçamento entre as linhas de texto contidas em suapágina. O valor padrão é 1em.*/
    line-height: 1.5em;
    text-align: justify;
    padding: 20px 50px 30px 50px;
}

.link{
    display: block;
    color: rgb(200, 211, 180);
    text-align: right;
    margin: 30px 70px 30px 0px;
    font-size: 1.6em;
}

#link:hover{
    background-color: transparent;
    text-decoration: underline;
}

.video{
    position: relative;
    padding-top: 20px;
    height: 60%;
}

iframe{
    position: absolute;
    left: 5%;
    width: 90%;
    height: 100%;
}