*{
    margin: 0;
    padding: 0;
}

body{
    background: url(imagens/fundo-madeira.jpg) black no-repeat ;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#botoes{
    padding-top: 30px;
    width: 8vw;
    height: 90vh;
    text-align: center;
    float: right;
    margin-right: 20px;
}

#botoes img{
    margin-top: 25px;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#celular{
    margin: auto;
    background: url(imagens/frame-iphone.png) no-repeat;
    background-size: cover;
    position: absolute;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe{
    background-image: url(imagens/tela-home.jpg);
    background-size: cover;
    width: 85%;
    height: 75%;
    position: relative;
    top: 12.9%;
    left: 7.7%;
}