*{
    margin: 0;
    padding: 0;
}

body, main{
    width: 100vw;
    height: 100vh;
    background-color: lightslategray;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}

section{
    overflow: auto;
    width: 50vw;
    height: 50vh;
    background-color: gray;
    text-align: center;
}

h1{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    
}

p{
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 30px;
    text-align: justify;
}

a{
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
    padding-left: 30px;
    font-size: 1.3em;
}

a:hover{
    translate: 0 -4px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.26);
}